*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --x: 1;
  --y: 2;
}
body {
  font-family: sans-serif;
  margin: 0 auto;
  font-size: 9vmin;
  font-weight: 700;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.score {
  padding: 1.5vmin;
  display: flex;
  align-items: center;
  width: 75.5vmin;
  justify-content: space-between;
  font-size: 5vmin;
  color: #302b27;
  background-color: #bbada0;
  margin-bottom: 10px;
  border-radius: 1vmin;
}
.score p {
  margin: 0;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #bbada0;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}
.cell {
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 1vmin;
}
.tile {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  background-color: hsl(30, 40%, var(--background-lightness));
  color: hsl(30, 9%, var(--text-lightness));
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
